.rating {
  display: flex;
  align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  position: relative;

  &_disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &__body {
    position: relative;

    &::before {
      content: '★★★★★';
      display: block;
    }
  }

  &__spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    .rating__people {
      visibility: visible;
      transition: all 0.3s;
    }
  }

  &__people {
    transition: all 0.5s;
    background-color: white;
    // opacity: 0.7;
    position: absolute;
    top: 100%;
    visibility: hidden;
    font-size: 14px;
    padding-right: 5px;

    &-item {
      display: flex;
      align-items: center;
    }
  }

  &__foto {
    height: 30px;
    width: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-right: 10px;
  }

  &__username {
    font-weight: bold;
    margin-right: 15px;
    text-overflow: ellipsis;
    width: 10ch;
    white-space: nowrap;
    overflow: hidden;
    line-height: 16px;
  }

  &__active {
    position: absolute;
    width: 10px;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

    &::before {
      content: '★★★★★';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      color: #ffd300;
    }
  }

  &__items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
  }

  &__value {
    font-size: 50%;
    line-height: 1;
    padding: 0 0 0 10px;
  }
}
