.auth-form {
  display: flex;
  align-items: center;
  min-height: 100%;

  &__form {
    width: 100%;

    .mistake {
      font-size: 10px;
      color: red;
      position: absolute;
      display: none;
    }
  }
}

.form {
  &__item {
    position: relative;
  }

  &__input.is-invalid {
    & ~ .mistake {
      display: inline;
    }
  }
}
