.quizz-app {
  width: 650px;
  padding: 30px 15px;
  margin: 0 auto;
}

@media all and (max-width: 767px) {
  .quizz-app {
    width: 100%;
  }
}

.quiz {
  position: relative;
}

.start-game {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.start {
  background: #e6e6e8;
  color: #000;
}

.start::before {
  background: #d6e9f8;
}

.animated-button {
  position: relative;
  margin-right: 7px;
  border-radius: 3px;
  font-size: 19px;
  transition: all .2s ease;
}

.animated-button::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(100%, -50%);
  display: block;
  width: 7px;
  height: 24px;
  transition: all .2s ease;
}

.animated-button:hover {
  margin-left: 7px;
  margin-right: 0;
}

.animated-button:hover::before {
  width: 0;
}

.quiz-score {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: end;
}

.score-text {
  font-size: 22px;
}

.score-number {
  font-size: 34px;
  color: #9b1931;
}

.question-number {
  position: relative;
  max-width: 90px;
  width: 100%;
  height: 57px;
  border: 2px solid #000;
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.question-number::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 7px;
  display: block;
  width: 90px;
  height: 57px;
  background: #186696;
  opacity: 0.8;
  z-index: -1;
}

.question {
  position: relative;
  margin-top: 25px;
  padding: 55px 20px 40px;
  background: #9fcbe6;
  font-size: 22px;
  font-weight: 600;
}

.question::before {
  content: "";
  position: absolute;
  right: 15px;
  top: 15px;
  display: block;
  width: 28px;
  height: 32px;
  background: url('../assets/images/edit-list.svg') 50% 50% no-repeat;
}

.answers {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  margin-top: 25px;
}

@media all and (max-width: 767px) {
  .answers {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
}

.answer button {
  height: 100%;
}

.quiz-controls {
  margin-top: 25px;
  text-align: right;
}

.next {
  background: #18609a;
  color: #fff;
}

.next::before {
  background: #78b7e2;
}